.postList{
	margin: 20px 0;
}

.postList__post{
	font-size: 1em;
	margin-left: 1em;
	line-height: 1.3;
}

.postList__year{
	margin: 9px 0; 
}

.postList ul{
	list-style: none;
	padding: 0;
	margin: 0;
}