body{
	background-color: snow;
	font-size: inherit;
	
	@media screen and (min-width: $breakpoint--max) {
		max-width: 1200px;
		margin: 0 auto;
	}
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.00em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}