.post{
	line-height: 1.5;
	margin: 15px 0;
}

.post > p:nth-of-type(1):first-letter{
	font-size: 1.5em;
}

.post__header{
	border-bottom: 2px dashed black;
	margin: 20px 0;
	padding: 4px 0;
}

.post__title{
	margin: 5px 0;
}

.post__footer{
	margin: 10px 0;
}

ul, ol{
	margin: inherit 3px inherit ;
}

